<!DOCTYPE html>
<html>
<head>
  <title>My gists :) <%= page_title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    
      <%= link_to "My gists ;)", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Add gists",    '/gists/new' %></li>
          
        
        </ul>
      </nav>
    
  </div>
</header>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
